<h1>Listing keys</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Created at</th>
    <th></th>
    <th></th>
  </tr>

<% @keys.each do |key| %>
  <tr>
    <td><%= key.name %></td>
    <td><%= key.value %></td>
    <td><%= (key.created_at + 60*60*7).to_s %></td>
    <td><%= link_to 'Show in map' , :controller => "map", :action => "show_position", :id => key %></td>
    <td><%= link_to 'Edit', edit_key_path(key) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Key', new_key_path %>

